<p id="notice"><%= notice %></p>

<h1>Listing Email Alerts</h1>

<table border="1" width="100%">
  <thead>
    <tr>
      <th>Time</th>
      <th>PAGED</th>
      <th>Subject</th>
      <th>Machine group</th>
      <th>Machine name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_alerts.each do |email_alert| %>
      <tr>
        <td><%= l email_alert.created_at %></td>
        <td><%= "YES" if email_alert.alert_fired %></td>
        <td><%= email_alert.subject %></td>
        <td><%= email_alert.machine_group %></td>
        <td><%= email_alert.machine_name %></td>
        <td><%= link_to 'Show', email_alert %></td>
        <td><%= link_to 'Edit', edit_email_alert_path(email_alert) %></td>
        <td><%= link_to 'Destroy', email_alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email alert', new_email_alert_path %>
