<!DOCTYPE html>
<html>
<head>
  <title>KaseyaAlertAggregatr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
<p>
  <%= link_to "Alerts", email_alerts_path %> | <%= link_to "Settings", settings_path %>
</p>
<span style="float:right;">
  <% if Setting.first.try(:silence_now?) %>
      <%= link_to "UN-SILENCE PAGER", setting_path(Setting.first_or_create,setting: {silence_now: false}), method: :patch %>
  <% else %>
      <%= link_to "silence pager", setting_path(Setting.first_or_create, setting: {silence_now: true}), method: :patch %>
  <% end %>
</span>
<% end %>
<%= yield %>

</body>
</html>
