<!DOCTYPE html>
<html>
<head>
  <title>KaseyaAlertAggregatr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
<p>
  <%= link_to "Alerts", email_alerts_path %> | <%= link_to "Settings", settings_path %>
</p>
<% end %>
<%= yield %>

</body>
</html>
